<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index role:require="Standalone or ContentManagement" id="sitecore_master_index">
            <locations hint="list:AddCrawler">              
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Support.39467" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>SellableItems</ListName>
                <IndexListName>SellableItemsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>master</Database>
              </crawler>
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Support.39467" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Categories</ListName>
                <IndexListName>CategoriesIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>master</Database>
              </crawler>
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Support.39467" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Catalogs</ListName>
                <IndexListName>CatalogsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>master</Database>
              </crawler>
            </locations>
          </index>
          <index id="sitecore_web_index">
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Support.39467" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.SellableItemsCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>SellableItems</ListName>
                <IndexListName>SellableItemsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>web</Database>
              </crawler>
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Support.39467" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.CategoriesCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Categories</ListName>
                <IndexListName>CategoriesIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>web</Database>
              </crawler>
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Support.39467" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Catalogs</ListName>
                <IndexListName>CatalogsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>web</Database>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>